<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Vitvik_Testimonials::customer_testimonials"
                title="Customer testimonials" module="Vitvik_Testimonials"
                sortOrder="51"
                resource="Magento_Backend::admin"
        />
        <add
                id="Vitvik_Testimonials::testimonials"
                title="Testimonials"
                module="Vitvik_Testimonials"
                sortOrder="1"
                parent="Vitvik_Testimonials::customer_testimonials"
                action="testimonials/testimonials"
                resource="Magento_Backend::admin"
        />
    </menu>
</config>